.title{
  text-align: center;
  margin: 30px;
}

.loginContent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  margin: 10px;
  gap: 25px;
  
}


.landig {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto asegura que el contenedor ocupe todo el alto de la pantalla */
}

.button  {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 35px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.input{
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
}